<template>
  <div class="submitform">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="name">이름</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          v-model="member.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="city">도시</label>
        <input
          type="text"
          class="form-control"
          id="city"
          required
          v-model="member.city"
          name="city"
        />
      </div>

      <div class="form-group">
        <label for="street">거리</label>
        <input
          type="text"
          class="form-control"
          id="street"
          required
          v-model="member.street"
          name="street"
        />
      </div>

      <div class="form-group">
        <label for="zipcode">우편번호</label>
        <input
          type="text"
          class="form-control"
          id="zipcode"
          required
          v-model="member.zipcode"
          name="zipcode"
        />
      </div>
      <button v-on:click="saveCustomer" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" v-on:click="newCustomer">Add</button>
    </div>
  </div>
</template>

<script>
import http from "../http-member";

export default {
  name: "add-member",
  data() {
    return {
      member: {
        member_id: 0,
        city: "",
        street: "",
        zipcode: "",
        name: "",
        join_data: 0
      },
      submitted: false,
    };
  },
  methods: {
    /* eslint-disable no-console */
    saveCustomer() {
      var data = {
        name: this.member.name,
        city: this.member.city,
        street: this.member.street,
        zipcode: this.member.zipcode,
        join_date: this.member.join_data
      };

      http
        .post("/v2/members", data)
        .then((response) => {
          this.member.member_id = response.data.member_id;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });

      this.submitted = true;
    },
    newCustomer() {
      this.submitted = false;
      this.member = {};
    },
    /* eslint-enable no-console */
  },
};
</script>

<style>
.submitform {
  max-width: 300px;
  margin: auto;
}
</style>
