<template>
  <div class="list row">
    <div class="col-md-6">
      <h4>Customers List</h4>
      <ul>
        <li v-for="(member, index) in members" :key="index">
          <router-link
            :to="{
              name: 'coupon-list',
              params: { member: member, id: member.id },
            }"
          >
            {{ member.name }}
          </router-link>
        </li>
      </ul>
    </div>
    <!-- <div>
      <button class="btn btn-success" v-on:click="searchmember">
        사용자 조회
      </button>
    </div> -->
    <div class="col-md-6">
      <router-view @refreshData="refreshList"></router-view>
    </div>
  </div>
</template>
<script>
// import http from "../http-coupon";
import http from "../http-member";

export default {
  name: "coupon",
  //추가
  data() {
    return {
      members: [],
    };
  },

  methods: {
    /* eslint-disable no-console */
    //추가
    searchmember() {
      http
        // .get("/v1/coupons/member/" + this.member_id)
        .get("/v1/members/")
        .then((response) => {
          this.members = response.data; // JSON are parsed automatically.
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    refreshList() {
      this.searchmember();
    },
    /* eslint-enable no-console */
  },
  mounted() {
    this.searchmember();
  },

  // link: function (event) {
  //   //  this.$router.push('/couponlist/:id')
  //   // this.$router.push({ name: "coupon-list" });
  //   this.$router.push({ name: "coupon-list", params: { id: this.members.id } });
  // },
  // },
};
</script>

