<template>
  <div class="list row">
    <div>
      <div>멤버 번호 : {{ this.$route.params.id }}</div>

      <table>
        <thead>
          <tr>
            <th>사용자 이름</th>
            <th>쿠폰 종류</th>
            <th>만료 일자</th>
            <th>쿠폰 상태</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(coupon, index) in coupons" :key="index">
            <!-- <tr v-if="couponID == coupon.member.id"> -->
            <td>{{ index + 1 }}</td>
            <!-- <td>{{ coupon.member.name }}</td> -->
            <td>{{ coupon.kind }}</td>
            <td>{{ coupon.endDate }}</td>
            <td>{{ coupon.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <router-view @refreshData="refreshList"></router-view>
    </div>
  </div>
</template>

<script>
import http from "../http-coupon";

export default {

  name: "coupon-list",
  props: ["coupon"],
  data() {
    return {
      //추가
    //   couponID: this.$route.params.id,

      coupons: {
        member_id: 0,
        createdDate: 0,
        endDate: 0,
        kind: "",
        status: "",
      },
    //   coupon: {
    //       id: this.member.id
    //   },
    };
  },
  methods: {
    /* eslint-disable no-console */
    searchCustomers() {
      http
        // .get("/v1/coupons/member/" + this.member_id)
        .get("/v1/coupons/member/" + this.$route.params.id)
        .then((response) => {
          this.coupons = response.data; // JSON are parsed automatically.
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.searchCustomers();
    },
    /* eslint-enable no-console */
  },
  mounted() {
    this.searchCustomers();
  },
};
</script>

<style>
.searchform {
  max-width: 300px;
  margin: auto;
}
.search-result {
  margin-top: 20px;
  text-align: left;
}
.list {
  text-align: left;
  max-width: 450px;
  margin: auto;
}
</style>