<template>
  <div class="list row">
    <div>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>상품명</th>
            <th>가격</th>
            <th>재고수량</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.stockQuantity }}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <router-view @refreshData="refreshList"></router-view>
    </div>
  </div>
</template>

<script>
import http from "../http-item";

export default {
  name: "items-list",
  data() {
    return {
      items: [],
    };
  },
  methods: {
    /* eslint-disable no-console */
    retrieveItems() {
      http
        .get("/v2/items")
        .then((response) => {
          this.items = response.data; // JSON are parsed automatically.
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveItems();
    },
    /* eslint-enable no-console */
  },
  mounted() {
    this.retrieveItems();
  },
};
</script>

<style>
.list {
  text-align: left;
  max-width: 450px;
  margin: auto;
}
</style>