<template>
  <div class="updateform">
    <div v-if="!submitted">
      <div>
        <label>이름: </label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          v-model="name"
          name="name"
          placeholder="name"
        />
      </div>
      <div>
        <label>도시: </label>
        <input
          type="text"
          class="form-control"
          id="city"
          required
          v-model="city"
          name="city"
          placeholder="city"
        />
      </div>
      <div>
        <label>거리: </label>
        <input
          type="text"
          class="form-control"
          id="street"
          required
          v-model="street"
          name="street"
          placeholder="street"
        />
      </div>
      <div>
        <label>우편 번호: </label>
        <input
          type="text"
          class="form-control"
          id="zipcode"
          required
          v-model="zipcode"
          name="zipcode"
          placeholder="zipcode"
        />
      </div>
    </div>
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" v-on:click="updateActive">정보 수정</button>
  </div>
  <!-- <span class="button is-small btn-danger" v-on:click="deleteCustomer()">Delete</span> -->
</template>

<script>
import http from "../http-member";

export default {
  name: "update-member",
  data() {
    return {
      member: {
        member_id: this.member.member_id,
        city: this.member.city,
        street: this.member.street,
        zipcode: this.member.zipcode,
        name: this.member.name,
      },
      submitted: false,
    };
  },
  methods: {
    /* eslint-disable no-console */
    updateActive() {
      var data = {
        name: this.member.name,
        city: this.member.city,
        street: this.member.street,
        zipcode: this.member.zipcode,
      };

      http
        .put("/v2/members" + this.member.member_id, data)
        .then((response) => {
          this.member.name = response.data.name;
          this.member.city = response.data.city;
          this.member.street = response.data.street;
          this.member.zipcode = response.data.zipcode;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
      this.submitted = true;
    },
    // deleteCustomer() {
    //   http
    //     .delete("/customer/" + this.customer.id)
    //     .then(response => {
    //       console.log(response.data);
    //       this.$emit("refreshData");
    //       this.$router.push('/');
    //     })
    //     .catch(e => {
    //       console.log(e);
    //     });
    // }
    /* eslint-enable no-console */
  },
};
</script>