<template>
  <div class="list row">
    <div>
      <div>멤버 번호 : {{ this.$route.params.id }}</div>

      <table>
        <thead>
          <tr>
            <th>#</th>
            <!-- <th>주문 수량</th>
            <th>총 금액</th> -->
            <th>주문 시간</th>
            <th>주문 상태</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr v-for="(orderItem, index) in orderItems" :key="index">
            <td>{{ orderItems[index].count }}</td>
            <td>{{ orderItems[index].totalPrice }}</td>
          </tr> -->
          <tr v-for="(order, index) in orders" :key="index">
            <td>{{ index + 1 }}</td>
            <!-- <td>{{ order[index].orderItem[0].count }}</td> -->
            <!-- <td>{{ order[index].orderItem[0].totalPrice }}</td> -->
            <td>{{ order.orderDate }}</td>
            <td>{{ order.status }}</td>
          </tr>
          <!-- <template v-for="order in orders">
            <tr v-for="(orderItem, index) in order.orderItems" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ orderItem[index].count }}</td>
              <td>{{ orderItem[index].totalPrice }}</td>
              <td>{{ order.orderDate }}</td>
              <td>{{ order.status }}</td>
            </tr>
          </template> -->
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <router-view @refreshData="refreshList"></router-view>
    </div>
  </div>
</template>

<script>
import http from "../http-order";

export default {
  name: "searchorder-list",
  props: ["searchorder"],
  data() {
    return {
      // count type정의
      orders: [],

      //추가
      orderItems: [],
    };
  },
  methods: {
    /* eslint-disable no-console */
    searchOrders() {
      http
        // .get("/v1/coupons/member/" + this.member_id)
        .get("/v1/orders/member/" + this.$route.params.id)
        .then((response) => {
          this.orders = response.data; // JSON are parsed automatically.
          this.orderItems = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.searchOrders();
    },
    /* eslint-enable no-console */
  },
  mounted() {
    this.searchOrders();
  },
};
</script>

<style>
.searchform {
  max-width: 300px;
  margin: auto;
}
.search-result {
  margin-top: 20px;
  text-align: left;
}
.list {
  text-align: left;
  max-width: 450px;
  margin: auto;
}
</style>